<style>
</style>

<div class="container">
  <!-- <div class="row">
    <div class="col">
      <h2>My app</h2>
    </div>
    <div class="col"><input type="file" class="file-upload" (change)="this.fileSelected($event)"></div>
  </div>
  <div class="row">
    <div class="col-4">
      <div *ngFor="let station of stations">
        <button class="btn btn-link">{{station.name}}</button>
      </div>
    </div>
    <div class="col-8">
      <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" [leafletLayersControl]="layersControl">
      </div>
    </div>
  </div> -->
  <div id="map"></div>
</div>

<router-outlet></router-outlet>